<h1 class="text-8xl font-bold text-center my-10">Basic <span class="bg-gradient-to-r from-blue-500 to-teal-400 bg-clip-text text-transparent">Utility</span> Part 1</h1>

<section class="mb-10 bg-gradient-to-r from-indigo-200 via-red-400 to-yellow-300">
  <h2 class="text-3xl text-center">Spacing</h2>
  <div class="m-13">Margin</div>
  <div class="p-8">padding</div>
</section>

<section class="mb-10 bg-green-200">
  <h2 class="text-3xl text-center">Sizing</h2>
  <div class="w-32 h-32 bg-primary">Kotak 1</div>
</section>

<section class="font-inter max-w-3xl mx-auto">
  <h2 class="mb-2 text-4xl font-bold">Belajar Mengenai Typography Pada Tailwindcss</h2>
  <div class="mb-4 text-lg text-gray-500">By <a href="#" class="font-semibold text-gray-700">Rizal Fauzi</a>, 1 July 2022</div>
  <p class="mb-4">
    Lorem ipsum dolor sit amet <a href="#" class="font-semibold underline text-blue-600">consectetur</a> adipisicing elit. Accusantium placeat reiciendis nesciunt hic
    odit ut sit dolores, quas ex rem natus, commodi harum autem amet ratione perspiciatis sed quae quo nemo repudiandae
    tempore dicta? Veniam velit consequatur facilis amet voluptatem ex doloribus illum debitis distinctio odio, ab iure
    eius impedit?
  </p>
  <blockquote class="mb-4 italic font-thin text-xl">
    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe architecto reiciendis consectetur labore modi placeat non distinctio sequi ea ad?"
  </blockquote>
  <p class="mb-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi totam aperiam eaque ipsum consectetur ipsa ipsam, sapiente deserunt quibusdam fugit, maiores laboriosam blanditiis quaerat possimus ad labore unde atque asperiores?
  </p>
</section>

<div class="max-w-xl h-96 bg-[#bada55] mx-auto mt-[42px] bg-[url('https://source.unsplash.com/1000x600?computer')] overflow-y-scroll bg-fixed">
  <p class="p-5 text-2xl">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nisi, obcaecati sapiente dicta veniam ab accusamus? Reiciendis explicabo voluptas iste voluptatem debitis consequatur culpa eum, ipsa enim, earum a quasi. Voluptatem modi iusto ad, dolorum exercitationem doloribus optio minus accusantium aliquid sunt. Non impedit laudantium omnis recusandae nobis asperiores ab, delectus explicabo esse quibusdam molestias facilis autem veritatis tenetur suscipit! Exercitationem assumenda temporibus vero dolores, commodi aperiam! Architecto, quam dolorum! Eligendi reprehenderit quae unde quos obcaecati at magni maxime quia nobis doloremque, esse similique, voluptates eveniet numquam voluptas. Explicabo similique sapiente tenetur eveniet autem? Libero provident assumenda quidem similique unde recusandae accusantium quos. Cumque neque dolorem alias totam reprehenderit vero dolorum dignissimos quas. Temporibus accusamus exercitationem at autem atque magni sed voluptas alias animi expedita odit iste eligendi hic et, numquam fugit minima commodi molestias dignissimos sint delectus eius nesciunt. Officiis deserunt natus a ratione animi repellat repudiandae, sint eos dignissimos amet aspernatur modi molestias fugit officia sed. Ducimus dolorum placeat corrupti a. Optio aperiam sed provident non necessitatibus temporibus repellendus cumque rem ipsa nostrum libero, neque eos aspernatur assumenda et! Deserunt laboriosam minima, maiores quia accusantium hic atque? Nostrum rerum, dolor dolores dolorem dolorum accusantium suscipit cumque iure ex!
  </p>
</div>

<div
  class="mt-32 max-w-xl h-96 bg-red-300 mx-auto bg-[url('https://images.unsplash.com/photo-1593642634524-b40b5baae6bb?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=600&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFwdG9wfHx8fHx8MTY1NjY2NDAyMQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1000')] bg-cover bg-center rounded-xl shadow-xl shadow-slate-500 overflow-hidden border-8 flex">
  <div class="h-[100px] w-[100px] m-auto bg-white/20 backdrop-blur-sm"></div>
</div>

<hr class="my-20">

<div class="flex justify-center">
  <span class="text-sm text-slate-500 mr-2">Light</span>
  <input type="checkbox" id="toggle" class="hidden peer">
  <label for="toggle">
    <div class="w-9 h-5 bg-slate-500 rounded-full flex items-center p-1 cursor-pointer">
      <div class="h-4 w-4 bg-white rounded-full toggle-circle"></div>
    </div>
  </label>
  <span class="text-sm text-slate-500 ml-2">Dark</span>
</div>

<button class="my-10 bg-sky-500 px-5 py-2 rounded-full text-white font-semibold font-inter mx-auto block hover:bg-sky-600 active:bg-sky-700 focus:ring focus:ring-sky-300 dark:bg-slate-300 dark:text-slate-800 dark:hover:text-slate-900 dark:hover:bg-slate-100">Save</button>

<div class="max-w-lg my-10 border border-slate-200 rounded-xl mx-auto p-5 shadow-md font-inter hover:bg-sky-500 group dark:hover:bg-slate-300 ">
  <h5 class="font-bold text-slate-700 text-lg mb-3 group-hover:text-white dark:group-hover:text-slate-800">myCard</h5>
  <p
    class="text-slate-600 group-hover:text-white selection:bg-lime-300 selection:text-slate-900 first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:float-left first-letter:mr-3 dark:group-hover:text-slate-800">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, possimus magni aspernatur enim saepe, itaque
    provident, deserunt corporis distinctio magnam cumque eveniet! Animi quaerat necessitatibus, non asperiores
    repudiandae unde expedita!</p>
</div>

<div class="max-w-lg mx-auto font-inter shadow-md border border-slate-200 rounded-xl p-5">
  <form action="">
    <label for="email"><span class="block font-semibold mb-1 text-slate-700 after:content-['*'] after:text-pink-500 after:ml-0.5">Email</span></label>
    <input type="email" id="email" placeholder="Masukkan Email" class="px-3 py-2 border shadow rounded w-full block text-sm placeholder:text-slate-400 focus:outline-none focus:ring-1 focus:ring-sky-500 focus:border-sky-500 invalid:text-pink-700 invalid:focus:ring-pink-700 invalid:focus:border-pink-700 peer">
    <p class="text-sm m-1 text-pink-700 invisible peer-invalid:visible">Email tidak valid</p>
  </form>
</div>

<div class="mb-96"></div>

<script src="./js/script.js"></script>