<h1 class="text-5xl font-bold text-blue-600">Hello World</h1>
<a href="#" class="bg-green-500 p-3 text-white inline-block m-3 rounded shadow transition-all hover:bg-green-700">Tombol</a>
<p class="m-3 bg-yellow-200">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias hic amet odio itaque porro a laborum nobis, quaerat aspernatur voluptatem sapiente necessitatibus sequi facere neque deserunt error, excepturi temporibus laboriosam labore! Autem aliquam officia debitis ipsam totam ducimus, corporis libero vel voluptatem recusandae laudantium eveniet aut, quibusdam, nisi facilis itaque!
</p>